<!DOCTYPE html>
<html>
<head>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../StyleSheet1.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/PenguinScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".header1Tag").fadeIn(3000);
        });
    </script>

    <title id="pTitle">HOV!</title>
</head>
<body>
    <div class="container">
            <div class="jumbotron" id="bp2">
                    <h1 id="pH1" hidden="hidden" class="header1Tag">Unleash The Flutes.</h1>
                    <p id="pP" class="Main-Para">Jay Z this, Jay Z that.</p>
        </div>
        <div class="body-content">
            <ul>
                <li id="itemsID" class="items">"Naw don't be afaid, Y'all and your artices</li>
                <li id="list1" class="items">hock spit at Jay</li>
                <li id="list2" class="items">Y'all from afar threw darts my way</li>
                <li id="list3" class="items">What you thought, I would not have nothin' to</li>
                <li id="list4" class="items">say? Nope!?"</li>
            </ul>
            <ul>
                <li id="HID">H</li>
                <li id="pLi1">I don't have a Tidal account</li>
                <li id="HID"> O V A</li>
                <li id="pLi2">And im not paying for one.</li>
            </ul>
        </div>
        <a href="Index.html">BACK</a>
        <div style="text-align:center;">
            <button id="pButton" class="alert-danger" onclick="PENGUINIFY();">Penguin?</button>
        </div>
    </div>
</body>
</html>
